html, body, .hideNavScroll {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
  overscroll-behavior: contain;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, .hideNavScroll::-webkit-scrollbar {
  display: none;
}